<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiban.suoai.mapper.BlockMatchMapper">
  <resultMap id="BaseResultMap" type="com.yiban.suoai.pojo.BlockMatch">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id1" jdbcType="INTEGER" property="user_id1" />
    <result column="user_id2" jdbcType="INTEGER" property="user_id2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id1, user_id2
  </sql>
  <select id="selectByExample" parameterType="com.yiban.suoai.pojo.BlockMatchExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from block_match
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from block_match
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from block_match
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yiban.suoai.pojo.BlockMatch" useGeneratedKeys="true">
    insert into block_match (user_id1, user_id2)
    values (#{user_id1,jdbcType=INTEGER}, #{user_id2,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.yiban.suoai.pojo.BlockMatch" useGeneratedKeys="true">
    insert into block_match
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user_id1 != null">
        user_id1,
      </if>
      <if test="user_id2 != null">
        user_id2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user_id1 != null">
        #{user_id1,jdbcType=INTEGER},
      </if>
      <if test="user_id2 != null">
        #{user_id2,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.suoai.pojo.BlockMatch">
    update block_match
    <set>
      <if test="user_id1 != null">
        user_id1 = #{user_id1,jdbcType=INTEGER},
      </if>
      <if test="user_id2 != null">
        user_id2 = #{user_id2,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiban.suoai.pojo.BlockMatch">
    update block_match
    set user_id1 = #{user_id1,jdbcType=INTEGER},
      user_id2 = #{user_id2,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>