<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.suoai.mapper.CyinforMapper" >
  <resultMap id="BaseResultMap" type="com.yiban.suoai.pojo.Cyinfor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="school_id" property="schoolId" jdbcType="INTEGER" />
    <result column="academy_id" property="academyId" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="like_time" property="likeTime" jdbcType="INTEGER" />
    <result column="review_time" property="reviewTime" jdbcType="INTEGER" />
    <result column="privacy" property="privacy" jdbcType="BIT" />
    <result column="hide" property="hide" jdbcType="BIT" />
    <result column="who" property="who" jdbcType="INTEGER" />
    <result column="paper_id" property="paperId" jdbcType="INTEGER" />
    <result column="has_image" property="hasImage" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yiban.suoai.pojo.Cyinfor" extends="BaseResultMap" >
    <result column="text" property="text" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, school_id, academy_id, time, like_time, review_time, privacy, hide, 
    who, paper_id, has_image, is_delete
  </sql>
  <sql id="Blob_Column_List" >
    text
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.yiban.suoai.pojo.CyinforExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cyinfor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yiban.suoai.pojo.CyinforExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from cyinfor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cyinfor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cyinfor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yiban.suoai.pojo.CyinforExample" >
    delete from cyinfor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yiban.suoai.pojo.Cyinfor" useGeneratedKeys="true" keyProperty="id" >
    insert into cyinfor (user_id, school_id, academy_id, 
      time, like_time, review_time, 
      privacy, hide, who, paper_id, 
      has_image, is_delete, text
      )
    values (#{userId,jdbcType=INTEGER}, #{schoolId,jdbcType=INTEGER}, #{academyId,jdbcType=INTEGER}, 
      #{time,jdbcType=TIMESTAMP}, #{likeTime,jdbcType=INTEGER}, #{reviewTime,jdbcType=INTEGER}, 
      #{privacy,jdbcType=BIT}, #{hide,jdbcType=BIT}, #{who,jdbcType=INTEGER}, #{paperId,jdbcType=INTEGER}, 
      #{hasImage,jdbcType=INTEGER}, #{isDelete,jdbcType=BIT}, #{text,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yiban.suoai.pojo.Cyinfor" useGeneratedKeys="true" keyProperty="id" >
    insert into cyinfor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="academyId != null" >
        academy_id,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="likeTime != null" >
        like_time,
      </if>
      <if test="reviewTime != null" >
        review_time,
      </if>
      <if test="privacy != null" >
        privacy,
      </if>
      <if test="hide != null" >
        hide,
      </if>
      <if test="who != null" >
        who,
      </if>
      <if test="paperId != null" >
        paper_id,
      </if>
      <if test="hasImage != null" >
        has_image,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="text != null" >
        text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="academyId != null" >
        #{academyId,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="likeTime != null" >
        #{likeTime,jdbcType=INTEGER},
      </if>
      <if test="reviewTime != null" >
        #{reviewTime,jdbcType=INTEGER},
      </if>
      <if test="privacy != null" >
        #{privacy,jdbcType=BIT},
      </if>
      <if test="hide != null" >
        #{hide,jdbcType=BIT},
      </if>
      <if test="who != null" >
        #{who,jdbcType=INTEGER},
      </if>
      <if test="paperId != null" >
        #{paperId,jdbcType=INTEGER},
      </if>
      <if test="hasImage != null" >
        #{hasImage,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="text != null" >
        #{text,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yiban.suoai.pojo.CyinforExample" resultType="java.lang.Integer" >
    select count(*) from cyinfor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cyinfor
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.schoolId != null" >
        school_id = #{record.schoolId,jdbcType=INTEGER},
      </if>
      <if test="record.academyId != null" >
        academy_id = #{record.academyId,jdbcType=INTEGER},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.likeTime != null" >
        like_time = #{record.likeTime,jdbcType=INTEGER},
      </if>
      <if test="record.reviewTime != null" >
        review_time = #{record.reviewTime,jdbcType=INTEGER},
      </if>
      <if test="record.privacy != null" >
        privacy = #{record.privacy,jdbcType=BIT},
      </if>
      <if test="record.hide != null" >
        hide = #{record.hide,jdbcType=BIT},
      </if>
      <if test="record.who != null" >
        who = #{record.who,jdbcType=INTEGER},
      </if>
      <if test="record.paperId != null" >
        paper_id = #{record.paperId,jdbcType=INTEGER},
      </if>
      <if test="record.hasImage != null" >
        has_image = #{record.hasImage,jdbcType=INTEGER},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=BIT},
      </if>
      <if test="record.text != null" >
        text = #{record.text,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update cyinfor
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      school_id = #{record.schoolId,jdbcType=INTEGER},
      academy_id = #{record.academyId,jdbcType=INTEGER},
      time = #{record.time,jdbcType=TIMESTAMP},
      like_time = #{record.likeTime,jdbcType=INTEGER},
      review_time = #{record.reviewTime,jdbcType=INTEGER},
      privacy = #{record.privacy,jdbcType=BIT},
      hide = #{record.hide,jdbcType=BIT},
      who = #{record.who,jdbcType=INTEGER},
      paper_id = #{record.paperId,jdbcType=INTEGER},
      has_image = #{record.hasImage,jdbcType=INTEGER},
      is_delete = #{record.isDelete,jdbcType=BIT},
      text = #{record.text,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cyinfor
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      school_id = #{record.schoolId,jdbcType=INTEGER},
      academy_id = #{record.academyId,jdbcType=INTEGER},
      time = #{record.time,jdbcType=TIMESTAMP},
      like_time = #{record.likeTime,jdbcType=INTEGER},
      review_time = #{record.reviewTime,jdbcType=INTEGER},
      privacy = #{record.privacy,jdbcType=BIT},
      hide = #{record.hide,jdbcType=BIT},
      who = #{record.who,jdbcType=INTEGER},
      paper_id = #{record.paperId,jdbcType=INTEGER},
      has_image = #{record.hasImage,jdbcType=INTEGER},
      is_delete = #{record.isDelete,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiban.suoai.pojo.Cyinfor" >
    update cyinfor
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="academyId != null" >
        academy_id = #{academyId,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="likeTime != null" >
        like_time = #{likeTime,jdbcType=INTEGER},
      </if>
      <if test="reviewTime != null" >
        review_time = #{reviewTime,jdbcType=INTEGER},
      </if>
      <if test="privacy != null" >
        privacy = #{privacy,jdbcType=BIT},
      </if>
      <if test="hide != null" >
        hide = #{hide,jdbcType=BIT},
      </if>
      <if test="who != null" >
        who = #{who,jdbcType=INTEGER},
      </if>
      <if test="paperId != null" >
        paper_id = #{paperId,jdbcType=INTEGER},
      </if>
      <if test="hasImage != null" >
        has_image = #{hasImage,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="text != null" >
        text = #{text,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yiban.suoai.pojo.Cyinfor" >
    update cyinfor
    set user_id = #{userId,jdbcType=INTEGER},
      school_id = #{schoolId,jdbcType=INTEGER},
      academy_id = #{academyId,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      like_time = #{likeTime,jdbcType=INTEGER},
      review_time = #{reviewTime,jdbcType=INTEGER},
      privacy = #{privacy,jdbcType=BIT},
      hide = #{hide,jdbcType=BIT},
      who = #{who,jdbcType=INTEGER},
      paper_id = #{paperId,jdbcType=INTEGER},
      has_image = #{hasImage,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BIT},
      text = #{text,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiban.suoai.pojo.Cyinfor" >
    update cyinfor
    set user_id = #{userId,jdbcType=INTEGER},
      school_id = #{schoolId,jdbcType=INTEGER},
      academy_id = #{academyId,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      like_time = #{likeTime,jdbcType=INTEGER},
      review_time = #{reviewTime,jdbcType=INTEGER},
      privacy = #{privacy,jdbcType=BIT},
      hide = #{hide,jdbcType=BIT},
      who = #{who,jdbcType=INTEGER},
      paper_id = #{paperId,jdbcType=INTEGER},
      has_image = #{hasImage,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>